* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  height: 100vh;
  color: white;
  background-color: black;
  font-family: Arial, sans-serif;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
/* mobile layout */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.header {
  display: flex;
  margin: 0 auto;
  padding: 20px 15px;
  align-items: center;
  justify-content: space-between;
}
.underline {
  border-bottom: 1px solid rgba(218, 218, 218, 0.15);
}
.logo {
  font-size: 20px;
  font-weight: 700;
  font-family: "poppin", sans-serif;
}
.yellow {
  color: #ffc107;
}
.red {
  color: #ff4d4d;
}
.cyan {
  color: #00e0ff;
}
.btn {
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  border-style: none;
  outline-width: 1px;
  border-radius: 25px;
  outline-offset: 3px;
  outline-style: solid;
  outline-color: #3b82f6;
  background-color: #3b82f6;
}
.obtn {
  margin-bottom: 20px;
}
.btn:active {
  outline-color: white;
  background-color: transparent;
}
.onboard {
  gap: 7%;
  display: flex;
  height: 100vh;
  text-align: left;
  flex-direction: column;
  padding: 40px 20px 0 20px;
}
/* onboard media query, tablet and above */
@media (min-width: 768px) {
  .onboard {
    height: 60%;
    align-items: center;
    flex-direction: row;
    padding-bottom: 30px;
    justify-content: space-between;
  }
  .inner-text {
    width: 90%;
  }
  .onboard-text {
    max-width: 50%;
  }
  .onboard img {
    max-width: 60%;
    max-height: 60%;
  }
}
@media (min-width: 1024px) {
  .onboard {
    margin: 0 auto;
    max-width: 90%;
    font-size: 18px;
    padding: 50px 50px 50px 50px;
  }
  .onboard img {
    max-width: 55%;
    max-height: 55%;
  }
  .header {
    max-width: 90%;
    padding: 30px 50px;
  }
}
@media (min-width: 1440px) {
  .onboard img {
    max-width: 60%;
    max-height: 60%;
  }
  .inner-text {
    width: 77%;
  }
}
/* Query End */
.onboard h1,
.onboard p {
  font-weight: 700;
  padding-bottom: 22px;
}
.grid {
  gap: 20px;
  display: grid;
  color: white;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
}
.stat h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}
.stat p {
  font-size: 13px;
  margin: 5px 0 0;
}
/* stat media query, tablet and above */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .stat {
    border-right: 2px solid white;
  }
  .l-stat {
    border-right: none;
  }
}
/* Query End */
.cont {
  text-align: center;
  padding: 150px 12px 0 12px;
}
.cont h3 {
  margin-bottom: 40px;
}
.h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}
.flex-grid {
  gap: 20px;
  width: 90%;
  display: grid;
  margin: 0 auto;
  text-align: left;
  padding-top: 50px;
}
.fg-item {
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(15, 30, 46);
}
.fg-item p {
  color: rgba(255, 255, 255, 0.7);
}
.flex-grid-it1 {
  padding: 10px 10px 0 10px;
}
.flex-grid-it2 {
  padding: 10px 10px 0 10px;
}
.flex-grid-it3 {
  padding: 10px 10px 0 10px;
}
.flex-grid-it4 {
  padding: 10px 10px 0 10px;
}
.flex-grid-it5 {
  padding: 10px 10px 0 10px;
}
/*flex-grid for tablet and above */
@media (min-width: 768px) {
  .flex-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .flex-grid-it1 {
    grid-row: 1/3;
    grid-column: 1/2;
  }
}
@media (min-width: 1024px) {
  .flex-grid {
    max-width: 85%;
    grid-template-columns: repeat(3, 1fr);
  }
  .flex-grid img {
    max-width: 65%;
    height: auto;
  }
}
/* Query End */
.getting-started {
  text-align: center;
  padding: 150px 12px 100px 12px;
}
.getting-started h2 {
  margin-bottom: 40px;
}
.startgrid {
  gap: 40px;
  display: grid;
  margin: 0 auto;
  text-align: center;
  grid-template-columns: repeat(1, 1fr);
}
.startgrid .start-item {
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(15, 30, 46);
}
.start-item img {
  width: 40px;
  margin: 0 auto;
}
.start-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.add-item {
  background-color: rgb(58, 150, 255) !important;
}
.grid-btn {
  outline-color: rgb(15, 30, 46);
  background-color: rgb(15, 30, 46);
}
@media (min-width: 768px) {
  .startgrid {
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .startgrid {
    gap: 0px;
    grid-template-columns: repeat(4, 1fr);
  }
}
.work {
  padding: 150px 12px 100px 12px;
}
.work img {
  margin: auto;
  max-width: 90%;
}
.secure {
  gap: 30px;
  display: flex;
  padding: 16px;
  text-align: left;
  border-radius: 24px;
  flex-direction: column;
  background-color: rgb(15, 30, 46);
}
.secure h3 {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .work {
    margin: auto;
    gap: 50px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .work img {
    max-width: 45%;
  }
}
.trusted {
  text-align: center;
  padding: 150px 12px 100px 12px;
  background-color: rgb(15, 30, 46);
}
.trusted-logos {
  gap: 40px;
  display: grid;
  margin: 0 auto;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}
.trusted-logos img {
  height: auto;
  max-width: 70px;
}
.trust-it {
  align-self: center;
  justify-self: center;
}
@media (min-width: 768px) {
  .trusted-logos {
    grid-template-columns: repeat(6, 1fr);
  }
}
